@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Baloo+Tamma+2:wght@500&family=Hind+Siliguri:wght@600&display=swap');
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color:#eceece;
  /* background-image: url(''); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}

.head-title {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-family: 'Anton', sans-serif;
  font-stretch: expanded;
  letter-spacing: 3px;
  
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
  font-family: 'Baloo Tamma 2', cursive;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: large;
  font-family: 'Baloo Tamma 2', cursive;
}

.pro-exp-container {
  background-color:#ccc3a7;;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.pro-exp-container > div {
  flex: 1;
  text-align: center;
}

.pro-exp-container > div:first-of-type {
  border-right: 1px solid  rgb(138, 222, 233);
  
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #44993c;
}

.money.minus {
  color: #d12917;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid  rgb(138, 222, 233);
  border-radius: 8px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
 }

.btn {
  cursor: pointer;
  background-color: #848f26;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #ccc3a7;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

@media (max-width: 320px) {
  .container {
    width: 300px;
  }
}
.amount-box {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: large;
  font-weight: bold
}
